{% extends 'core_layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'web_core/css/application_index.css' %}">
{% endblock head %}

{% block title %} Applications {% endblock title %}

{% block body %}
<div class="jumbotron jumbotron-fluid" id="core_jumbotron_styling"">

  <div class="container">
    <h1 class="display-4">Applications</h1>
    <hr class="my-4" style="background-color: white;">
    <p class="text-justify lead">All available Applications are listed below in cards, with Apps being separated into categories based on their functions.</p>
  </div>

</div>

<div class="container">

  <h1>Web Framework Applications</h1>
  <hr style="border-color: #FFFFFF;">

  <div class="row row-cols-1 row-cols-md-2">

      {% comment %}
      Itterating through the list of web framework application cards and dynamically generating each card from database:
      {% endcomment %}
      {% for card in application_cards %}

        {% if card.card_category == 'web_applications' %}
        <div class="col mb-4 d-flex">
          <div class="card bg-dark-custom-card">
            <div class="card-header">
              {% for icon_img in card.serialized_icon_names %}
                {# Building the icon url using |add: filter: #}
                {% with "web_core/images/icons/"|add:icon_img as icon_img_url %}
                <img id="card_icon" src="{% static icon_img_url %}" alt="">
                {% endwith %}    <!-- Add Dynamic Routes to all of these -->

              {% endfor %}
            </div>
            {# Building the image url using |add: filter: #}
            {% with "web_core/images/"|add:card.card_image as main_card_img %}
            <img class="card-img-top" src="{% static main_card_img %}" alt="">
            {% endwith %}
            <div class="card-body">
              <h3 class=card-title>{{ card.card_title }}</h3>
              <hr style="border-color: black;">
              <p class="card-text text-justify">{{card.card_description}}</p>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              {# Building both button icon image urls using |add: filter: #}
              {% with "web_core/images/icons/"|add:card.button_a_icon as button_a_icon_url %}
              <a class="btn btn-info btn-outline-dark" href="{{ card.button_a_href }}">
                {{ card.button_a_text }} <img id='card_icon' src="{% static button_a_icon_url %}" alt="">
              </a>
              {% endwith %}
              {% with "web_core/images/icons/"|add:card.button_b_icon as button_b_icon_url %}
              <a class="btn btn-info btn-outline-dark" href="{{ card.button_b_href }}">
                {{ card.button_b_text }} <img id='card_icon' src="{% static button_b_icon_url %}" alt="">
              </a>
              {% endwith %}
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}

  </div>

    <h1>Hydrodynamic Modelling</h1>
    <hr style="border-color: #FFFFFF;">
    <p class="text-justify">
      Hydrodynamic modelling is the use of computational models to simulate currents, water levels, salinity etc. <a href="https://www.dhigroup.com/">DHI Water & Environment</a> provides complex modeling software in the form of MIKE 21 and MIKE 3. These data models perform calculations based on boundary conditions and GIS mesh data. Data output from MIKE HD models is output in the <a href="http://docs.mikepoweredbydhi.com/core_libraries/dfs/dfs-file-system/">DFS (Data File System) format</a>. This Binary data file format provides unique challenges when creating in-house data pipelines.
    </p>

    <h3>Hydrodynamic Model Data File System Data Pipelines</h3>
    <p class="text-justify">
      Several projects for clients required data generated from the Hydrodynamic models to be imported into various other applications such as a web data dashboard or external database. This required several creative in-house workarounds due to the unique nature of the DFS file format and its interaction with other applications and operating systems. The goals of creating a more permanent solution to transferring data between processes lead to the dfs data pipeline library. Most of the library is proprietary as it deals with client and organization specific processes/pipelines however some of the more generalized and simplistic elements (such as the Mail Socket API) are publicly available. 
    </p>

    <div class="row row-cols-1 row-cols-md-2">
      {% for card in application_cards %}

        {% if card.card_category == "hydrodynamic_modeling" and card.card_sub_category == "dfs_data_pipeline_api" %}
        <div class="col mb-4 d-flex">
          <div class="card bg-dark-custom-card">
            <div class="card-header">
              {% for icon_img in card.serialized_icon_names %}
                {# Building the icon url using |add: filter: #}
                {% with "web_core/images/icons/"|add:icon_img as icon_img_url %}
                <img id="card_icon" src="{% static icon_img_url %}" alt="">
                {% endwith %}    <!-- Add Dynamic Routes to all of these -->

              {% endfor %}
            </div>
            {# Building the image url using |add: filter: #}
            {% with "web_core/images/"|add:card.card_image as main_card_img %}
            <img class="card-img-top" src="{% static main_card_img %}" alt="">
            {% endwith %}
            <div class="card-body">
              <h3 class=card-title>{{ card.card_title }}</h3>
              <hr style="border-color: black;">
              <p class="card-text text-justify">{{card.card_description}}</p>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              {# Building both button icon image urls using |add: filter: #}
              {% with "web_core/images/icons/"|add:card.button_a_icon as button_a_icon_url %}
              <a class="btn btn-info btn-outline-dark" href="{{ card.button_a_href }}">
                {{ card.button_a_text }} <img id='card_icon' src="{% static button_a_icon_url %}" alt="">
              </a>
              {% endwith %}
              {% with "web_core/images/icons/"|add:card.button_b_icon as button_b_icon_url %}
              <a class="btn btn-info btn-outline-dark" href="{{ card.button_b_href }}">
                {{ card.button_b_text }} <img id='card_icon' src="{% static button_b_icon_url %}" alt="">
              </a>
              {% endwith %}
            </div>
          </div>
        </div>
        {% endif %}

      {% endfor %}

    </div>

    <h1>Finance Applications</h1>
    <hr style="border-color: #FFFFFF;">

    <h3>Lazy Prices Algorithm Data Pipeline:</h3>
    <p class="text-justify">Lazy Prices refers to a research paper published by Lauren Cohen, Christopher Malloy and Quoc Nguyen that explores the relationship between the changes to the language and construction of a company’s financial reports and future financial performance. As a result of the findings described in the paper, many quantitative analysts incorporate data about a firm’s quarterly and annual reports into their trading strategies. The applications/packages below are all elements that are used to create an automated pipeline for the extraction and transformation of financial reporting data, as well as ingestion of said data into a trading algorithm back-testing application or similar project. More information on the Lazy Prices research paper and development of the Lazy Prices data pipeline can be found in the Resources section <a href="#">here</a>.</p>

    <div class="row row-cols-1 row-cols-md-2">

      <div class="col mb-4">
        <div class="card bg-dark-custom-card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">10-K & 10-Q PDF Parser</h5>
            <p class="card-text">A PlaceHolder for summary information on the PDF Parsing Package.</p>
          </div>
        </div>
        </div>

        <div class="col mb-4">
          <div class="card bg-dark-custom-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SEC Financial Report Web Scraper</h5>
              <p class="card-text">A PlaceHolder for summary information on the Web Scraping Library.</p>
            </div>
          </div>
          </div>

      </div>

      <h1>Agent Based Modelling</h1>
      <hr style="border-color: #FFFFFF;">

      <div class="row row-cols-1 row-cols-md-2">

        <div class="col mb-4">
          <div class="card bg-dark-custom-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Application PlaceHolder</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          </div>

          <div class="col mb-4">
            <div class="card bg-dark-custom-card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Application PlaceHolder</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            </div>

        </div>


</div>

{% endblock body %}
